/* CSS rules */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

section {
	background-color: orange;
}

p {
	text-align: center;
}

.shotText {
	font-size: 2rem;
}

.longText {
	color: brown;
	background-color: lightgray;
	font-size: 1.5rem;
}

.box {
	width: 750px;
	height: 500px;
	background-color: yellow;
	border: 20px solid navy;
}

/* @media rules */

@media screen and (max-width: 575px) {
	.longText,
	.box {
		display: none;
	}
}

@media screen and (min-width: 576px) {
	.shortText {
		background-color: cornflowerblue;
		font-size: 1.5rem;
	}
	.longText {
		color: rgb(180, 20, 220);
	}

	.box {
		width: 100%;
		padding: 75px;
		border: 40px solid blue;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.shortText {
		background-color: rgba(100, 148, 237, 0.185);
		font-size: 1rem;
	}
	.boxes {
		display: flex;
		flex-wrap: wrap;
	}

	.box {
		width: calc(100% / 3);
	}

	.box:nth-last-child(2) {
		flex-grow: 1;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.boxes {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		height: 100v;
	}
	.box {
		width: calc(100% / 2);
		height: calc(100% / 3);
	}
	.box:last-child {
		flex-grow: 2;
	}
}

@media screen and (min-width: 1200px) {
    .shortText,
    .longText {
      display: none;
    }
  
    .boxes {
      display: flex;
      height: 100vh;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  
    .box {
      width: 50vw;
      max-height: calc(100vh / 3);
      order: 4;
    }
  
    .box:nth-child(1) {
      order: 3;
      background-color: aquamarine;
    }
  
    .box:nth-child(2) {
      order: 2;
      background-color: rgb(144, 255, 127);
    }
  
    .box:nth-child(3) {
      order: 1;
      background-color: rgb(76, 80, 173);
    }
  
    .lastline {
      max-height: calc(100vh / 6);
    }
  }
